#island {
	background: url('img/island.jpg') no-repeat;
	background-size: contain;
	aspect-ratio: 3775/1867;
	width: 980px;
	position: relative;

	.island-slot {
		position: absolute;
		border: 2px solid;
		&.island-cat-slot {
			width: 16.78%;
			height: 25.4%;
			border-color: greenyellow;
		}
		&.island-card-slot {
			width:  16.78%;
			height: 34.1%;
			border-color: burlywood;
		}

		&.island-slot-disabled {
			cursor: not-allowed;
			background-color: #d3d3d38f;
		}
	}
	$slotOrigin: 3%;
	$column-1-X: 1%;
	$column-2-X: 21%;
	$column-3-X: 41.5%;
	$column-4-X: 61.5%;
	$column-5-X: 81.8%;

	$row-1-Y: $slotOrigin;
	$row-2-Y: 31.2%;
	$row-3-Y: 61%;

	#island-slot-1,
	#island-slot-3,
	#island-slot-5 {
		top: $slotOrigin;
	}
	#island-slot-1,
	#island-slot-6,
	#island-slot-11 {
		left: $column-1-X;
	}
	#island-slot-2,
	#island-slot-7,
	#island-slot-12 {
		left: $column-2-X;
	}
	#island-slot-3,
	#island-slot-8,
	#island-slot-13 {
		left: $column-3-X;
	}
	#island-slot-4,
	#island-slot-9,
	#island-slot-14 {
		left: $column-4-X;
	}
	#island-slot-5,
	#island-slot-10,
	#island-slot-15 {
		left: $column-5-X;
	}

	#island-slot-6,
	#island-slot-7,
	#island-slot-8,
	#island-slot-9,
	#island-slot-10 {
		top: $row-2-Y;
	}

	#island-slot-11,
	#island-slot-12,
	#island-slot-13,
	#island-slot-14,
	#island-slot-15 {
		top: $row-3-Y;
	}
	
	#island-slot-7,
	#island-slot-9{
		top:43.2%;
	}
	#island-slot-2,
	#island-slot-4{
		top: 5%;
	}
	#island-slot-12,
	#island-slot-14{
		top:72%;
	}

	@mixin tilted-right {
		transform: rotate(2deg);
	}
	@mixin tilted-left {
		transform: rotate(-2deg);
	}
	@mixin lightly-tilted-left {
		transform: rotate(-1deg);
	}
	@mixin lightly-tilted-right {
		transform: rotate(1deg);
	}

	#island-slot-1,
	#island-slot-3,
	#island-slot-4,
	#island-slot-5,	
	#island-slot-9,
	#island-slot-12,
	#island-slot-11 {
		@include tilted-right;
	}
	#island-slot-2,
	#island-slot-6,
	#island-slot-7,
	#island-slot-8,
	#island-slot-10,	 
	#island-slot-13,	 
	#island-slot-14,
	#island-slot-15{
		@include tilted-left;
	}

	#island-slot-1{
		@include lightly-tilted-right;
		top: 2%;
	}
	#island-slot-8{
		top: 32%;
	}
}
