@use "game-vars" as vars;

.player-board {
	$playerBoardTextColor: white;
	color: $playerBoardTextColor;
	background: url('img/playerboard-background-bottom.jpg'), vars.$main-color;


}

.counter {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	span {
		padding: 0 5px 0 5px;
	}
}

.counters {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

:nth-child(1 of .counters) {
	//==first-of-class
	margin-top: 13px;
}

.additional-info {
	column-gap: 5px;
	justify-content: space-evenly;
}

.icon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
