@use "game-vars" as vars;

.player-board {
	$playerBoardTextColor: white;

	color: $playerBoardTextColor;
	background: url('img/playerboard-background-bottom.jpg'), vars.$main-color;
	background-position: bottom;
	background-size: cover;

	@each $name, $color in vars.$player-colors {
		&[data-player-color='#{$color}']::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 52px;
			background: url('img/playerboard-background.png'), ##{$color};
			background-size: cover;
			background-repeat: no-repeat;
			box-shadow: 0 0 3px 2px #8181c7;
			border-radius: 8px;
		}
	}

	.fa-star {
		color: $playerBoardTextColor;
	}
	.player-name,
	.player-name a {
		color: $playerBoardTextColor !important; // to override inline color
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.player_score_value {
		font-weight: bold;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.token {
		background-image: url('img/tokens.png');

		&[data-player-color='d8d7d7'] {
			background-position: #{calc(0 * 100% / 5)} 50%;
		}
		&[data-player-color='df74b2'] {
			background-position: #{calc(1 * 100% / 5)} 50%;
		}
		&[data-player-color='eca51c'] {
			background-position: #{calc(2 * 100% / 5)} 50%;
		}
		&[data-player-color='77bd25'] {
			background-position: #{calc(3 * 100% / 5)} 50%;
		}
		&[data-player-color='30b0e1'] {
			background-position: #{calc(4 * 100% / 5)} 50%;
		}
		&[data-player-color='df3e33'] {
			background-position: #{calc(5 * 100% / 5)} 50%;
		}
	}

	.additional-icons {
		display: flex;
		gap: 5px;
	}

	.exponent {
		font-variant-position: super;
		font-size: x-small;
	}

	.cstm-help-icon {
		&.cstm-help-icon-mini {
			position: relative;
			top: 50%;
			transform: translateY(-8%);
			width: 15px;
			height: 15px;
			font-size: 10pt;
			margin-left: 5px;
		}
	}
}

.help-card {
	width: 355px;
	height: 480px;

	&.recto {
		background: url('img/help1.jpg') no-repeat;
	}

	&.verso {
		background: url('img/help2.jpg') no-repeat;
	}
}

.counter {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	span {
		padding: 0 5px 0 5px;
	}
}

.counters {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

:nth-child(1 of .counters) {
	//==first-of-class
	margin-top: 13px;
}

.additional-info {
	column-gap: 5px;
	justify-content: space-evenly;
}

.player-turn-order {
	user-select: none;
}

.icon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.playerOrderHelp {
	padding: 3px;
}

#firstPlayerIcon {
	background: url('img/first-player.png');
	width: 25px;
	aspect-ratio: 1;
}
