$main-color: #965e17;
$selected-color:rgb(200, 255, 47);

//(classic BGA colors) :
$player-colors: (
	'red': 'ff0000',
	'green': '008000',
	'blue': '0000ff',
	'yellow': 'ffa500',
	'purple': '982fff'
);
